{% extends 'basicapp/base.html' %}
  {% block body_block %}
    <div class="jumbotron">
      <h1>Please Login</h1>

      <form action="{% url 'basicapp:user_login' %}" method="POST">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="username">

        <label for="password">Password:</label>
        <input type="password" name="password">

        <input type="submit" name="" value="Login">
      </form>
      <p>Not Registered Yet? Register <a href="{% url 'basicapp:register' %}">Here</a></p>
    </div>
  {% endblock %}
