<!DOCTYPE html>
{% extends 'basicapp/base.html' %}
  {% block body_block %}
    <div class="container">


    <div class="jumbotron text-xs-center">
      <h1 class="display-3">Thank You!</h1>
      <p class="lead"><strong>Please check your email</strong> for further instructions on how to complete your account setup.</p>
      <hr>

      <p class="lead">
        <a class="btn btn-primary btn-sm" href="{% url 'index' %}" role="button">Continue to homepage</a>
      </p>
    </div>
    </div>

    {% endblock %}
